<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Scraper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    {{{body}}}

</body>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="wrapper mx-auto">
        <h6 style="text-align: center">Eddie Chiang &copy 2019</h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary contact-btn" style="border: solid 1px black"><a class=js-emaillink
                    href="mailto:echiang73@gmail.com"><i class="mdi-content-send brown-text fas fa-at fa-2x"
                        style="color:black"></i></a></button>
            <button type="button" class="btn btn-secondary contact-btn" style="border: solid 1px black"><a class=link
                    href="https://www.linkedin.com/in/eddie-t-chiang" target="_blank"><i
                        class="mdi-content-send brown-text fab fa-linkedin fa-2x"
                        style="color:black"></i></a></button>
            <button type="button" class="btn btn-secondary contact-btn" style="border: solid 1px black"><a class=link href="https://github.com/echiang73"
                    target="_blank"><i class="mdi-content-send brown-text fab fa-github fa-2x"
                        style="color:black"></i></a></button>
            <button type="button" class="btn btn-secondary contact-btn" style="border: solid 1px black"><a class=link href="https://angel.co/eddie-chiang"
                    target="_blank"><i class="mdi-content-send brown-text fab fa-angellist fa-2x"
                        style="color:black"></i></a></button>
        </div>
      </div>
    
</nav>

</html>