<nav class="navbar navbar-inverse sticky-top bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.medicalnewstoday.com/categories/colorectal_cancer">Mongo Scraper: <img src="assets/images/MNT-logo.png" id="MNT-logo" alt="Medical News Today"></a>
    </div>
    {{!-- <a class="btn btn-success scrape-new">Click to Scrape New Articles!</a> --}}
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="/"><button type="button" class="btn btn-secondary btn-homePage">Home/Scrape Page</button></a>
      <a href="/saved"><button type="button" class="btn btn-secondary btn-savedPage">Saved Articles Page</button></a>
    </div>

    {{!-- <ul class="nav navbar-nav"> --}}
      {{!-- <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li> --}}
      {{!-- <li><a class="btn btn-danger scrape-new">Click to Scrape New Articles!</a></li> --}}
      {{!-- <li><a class="btn btn-danger clear">CLEAR ALL ARTICLES!</a></li> --}}
    {{!-- </ul> --}}
  </div>
  <a class="btn btn-success scrape-new">Click to Scrape New Articles!</a>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>Medical News Today - Colorectal Cancer Edition</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
  <div class="container">
    <p>Medical News Today Mongo Scraper</p>
  </div>
</footer>



{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="https://www.medicalnewstoday.com/categories/colorectal_cancer">MedicalNewsToday Scraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/saved">Saved Articles</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
      <h1>Mongo Scraper</h1>
      <p>Colorectal Cancer News</p>
      <p>MedicalNewsToday Edition</p>
    </div>
  </div>
  <div class="container-fluid article-container">
    <div class="card">
      <div class="card-header">
        <h3><a class="article-link" target="_blank" rel="noopener noreferrer"
            href="https://www.nytimes.com/2019/05/24/opinion/child-care-crisis.html">How to End the Child-Care
            Crisis</a><a class="btn btn-success save">Save Article</a></h3>
      </div>
      <div class="card-body">A child’s first 1,000 days are a time to be seized.</div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3><a class="article-link" target="_blank" rel="noopener noreferrer"
            href="https://www.nytimes.com/2019/05/24/travel/new-york-to-tahiti-or-laos-or-nairobi-without-spending-a-fortune.html">New
            York to Tahiti (or Laos or Nairobi) Without Spending a Fortune</a><a class="btn btn-success save">Save
            Article</a></h3>
      </div>
      <div class="card-body">Some flights are trickier to book than others. For these, budget travelers need to go
        beyond the major search engines.</div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3><a class="article-link" target="_blank" rel="noopener noreferrer"
            href="https://www.nytimes.com/2019/05/24/us/politics/jay-inslee-climate-change.html">Climate Change Is
            Catching On With Voters. Why Isn’t Jay Inslee?Can Black Voters Propel a White Mayor to the Presidency?</a><a
            class="btn btn-success save">Save Article</a></h3>
      </div>
      <div class="card-body">Bill de Blasio’s multiracial family was a campaign asset in his run for mayor of New York
        in 2013. Can he repeat that strategy on the 2020 trail?</div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>New York Times Mongo Scraper</p>
    </div>
  </footer> --}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>

<script src="../../assets/javascript/index.js"></script>


{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/app.js"></script> --}}