<nav class="navbar navbar-inverse sticky-top bg-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.medicalnewstoday.com/categories/colorectal_cancer">Mongo Scraper: <img src="assets/images/MNT-logo.png" id="MNT-logo" alt="Medical News Today"></a>
    </div>
    
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="/"><button type="button" class="btn btn-secondary btn-homePage">Home/Scrape Page</button></a>
      <a href="/saved"><button type="button" class="btn btn-secondary btn-savedPage">Saved Articles Page</button></a>
    </div>

    {{!-- <ul class="nav navbar-nav"> --}}
      {{!-- <li><a href="/">Home</a></li>
            <li class="active"><a href="/saved">Saved Articles</a></li> --}}
      {{!-- <li><a class="btn btn-danger dummy-btn">Click to Scrape New Articles!</a></li> --}}
      {{!-- <li><a class="btn btn-danger clear">CLEAR ALL ARTICLES!</a></li> --}}
    {{!-- </ul> --}}
    
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
</div>
<div class="container-fluid article-container">
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>

<script src="../../assets/javascript/saved.js"></script>
