
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

.sticky-top{
  /* background-color: rgb(211, 211, 211) !important; */
  background-image: linear-gradient(0deg, rgb(211, 211, 211) 0%, rgb(162, 162, 162) 50%, rgb(142, 142, 142) 95%);
}

.navbar-brand{
  color: #7458ff;
}
#MNT-logo{
  width: 180px;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 0;
  font-family: "Cormorant SC";
  z-index: -1;
}

.jumbotron .background-image {
  height: 100%;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  position: fixed;
  z-index: -2 !important;
}

.jumbotron .caption {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  z-index: 10 !important;
}

.jumbotron .caption h1,
.jumbotron .caption p {
  color: white;
}

.jumbotron h1 {
  font-size: 50px;
  font-weight: 800;
}

.jumbotron p {
  font-size: 30px;
}

.article-container {
  padding-bottom: 25px;
  text-align: center;
  display: inline-block;
}

.panel, .alert{
  border-radius: 10px;
  border: solid 1px black;
  box-shadow: 3px 3px 20px lightslategrey;
  margin: 10px 0px;
  width: 90%;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin: 0px 0 20px 0 auto;
  background-image: linear-gradient(120deg, #1fc8db 0%, #2cb5e8 30%, #7458ff 75%);
  opacity: 0.85;
  color: white;
}

.alert {
  width: 50%;
  color: black;
}

.btn-homePage{
  border-radius: 10px 0 0 10px;
  border: solid 1px black;
  background-color: #7458ff;
}

.btn-savedPage {
  border-radius: 0 10px 10px 0;
  border: solid 1px black;
  background-color: #7458ff;
}

.save, .delete, .notes, .note-delete, .scrape-new{
  border: solid 1px black;
  margin: 10px 5px 10px 5px;
  color: white !important;
}

.navbar-header{
  position: relative;
}
.scrape-new{
  display: inline-block;
  margin: 0 auto;
  margin-bottom: -50px;
  position: absolute;
  left: 40%;
  right: 40%;
}

.fixed-bottom{
  /* background-color: rgb(211, 211, 211) !important; */
  background-image: linear-gradient(180deg, rgb(211, 211, 211) 0%, rgb(162, 162, 162) 50%, rgb(142, 142, 142) 95%);
}
.contact-btn{
  background: lightskyblue !important;
}

.panel-image {
  display: inline-block;
  /* overflow: auto; */
  width: 20%;
  /* height: 120px; */
}
.panel-btns {
  float: left;
  width: 20%;
  /* height: 120px; */
}
.title-and-summary {
  float: right;
  width: 60%;
  /* height: 120px; */
}